<!DOCTYPE html>
<html>
<head>
	<title>Главная</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<div>
		<div class="input">
			<label for="name" id="label-name">Имя:</label>
			<input type="text" name="name" id="name" />
		</div>
		<div class="input">
			<label for="age">Возраст:</label>
			<input type="text" name="age" id="age" />
		</div>
		<select class="input" name="city" id="city">
			<option value="0" checked>-выберите город-</option>
			{% for element in City %}
			<option value="{{ element.id_city }}">{{ element.city }}</option>
			{% endfor %}
		</select>

		<button class="input" id="button">Сохранить</button>
		<br />
		<div id="errorMessage"></div>
	</div>
	
	<div class="table-users">
		<div class="cell-main"><b>Имя</b></div>
		<div class="cell-main"><b>Возраст</b></div>
		<div class="cell-main"><b>Город</b></div>
		{% for element in Table %}
			<div class="cell">{{ element.name }}</div>
			<div class="cell">{{ element.age }}</div>
			<div class="cell" id="cell">{{ element.city }}</div>
		{% endfor %}
	</div>

<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/form.js"></script>
</body>
</html>